/* Bulma css */
.container {
    margin-left: 2em;
    margin-right: 2em;
    padding: 1.5rem;
    text-align: center;
    background-color: cadetblue;
    border-radius: 8px;
    border: 2px solid black;
   
}

.title {
    font: 4rem;
    font-weight: 700;
  
}

 p {
    background-color: antiquewhite;
    border: 5px solid gray;
    margin-left: 10em;
    margin-right: 12em;
} 

body {
    margin: 0;
}

.container {
    margin-left: 2em;
    margin-right: 2em;
    padding: 1.5rem;
    text-align: center;
    background-color: cadetblue;
    border-radius: 8px;
    border: 2px solid black;
   
}

.title {
    font: 4rem;
    font-weight: 700;
  
}
  .container {
    margin-left: 2em;
    margin-right: 2em;
    padding: 1.5rem;
    text-align: center;
    background-color: cadetblue;
    border-radius: 8px;
    border: 2px solid black;
   
}
/* .container p {
  
        background-color: antiquewhite;
        border: 5px solid gray;
        margin-left: 10em;
        margin-right: 12em;
} */



/* p {
    background-color: antiquewhite;
    border: 5px solid gray;
    margin-left: 10em;
    margin-right: 12em;
} 
  */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
  }
  
  .topnav :hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav .active {
    background-color: #333;
    color: white;
  }
     /* Sidebar */


/* #vertical-menu  {
  list-style-type: none;
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}
#vertical-menu {
  width: 200px;
}
      
#vertical-menu :hover {
background-color: #ccc;
 }
      
#vertical-menu .active {
  background-color: black;
  color: white;
      } */
/* The side navigation menu */
/* .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  /* .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   */
  /* Active/current link */
  /* .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
   */
  /* Links on mouse-over */
  /* .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  } */
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  /* div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
   */
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  /* @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  /* @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  /* } *






 



/* @media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    /* header {
        width: 75%;
    }
    .container {
        flex: 0 0 50%;
        max-width: 50%;
    }
 */ 





 



/* @media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    /* header {
        width: 75%;
    }
    .container {
        flex: 0 0 50%;
        max-width: 50%;
    }
 *
  position: relative;
  display: notranslat;
}
