/* #navbar { */
  /* background: darkgray; */


/* 
 in custom CSS you need to add
 /.bg-img { 
  background-image: url(./assets/images/vector stadium.jpg) ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;

} */ 

/* .container {
  background-image: src = "./assets/images/vector stadium.jpg";
}  */
/* .header-image {
  background-image: src("/Users/meskeremassefa/Projects/Project 1/The-Binary-Trio/assets/images/Football pitch with bright lights.jpg");
  background
} */

header, h1, h2, h3, h4, h5, h6 {
  font-family:"Bungee", sans-serif;
}

body, nav, .navbar{
  font-family: "Amiko", sans-serif;
}


.Image-Background {
  background-image: url(../images/Football-pitch-with-bright-lights.jpg); 
  background-size: cover;
  background-repeat:  no-repeat;
}

#outerFootballContainer, #outerTennisContainer {
  background-image: url(../images/Football-pitch-with-bright-lights.jpg);
  background-size: cover;
  background-repeat:  no-repeat;
  display: none;
}

#sportsTicker {
    text-align: center;
    background-image: url(../images/Football-pitch-with-bright-lights.jpg);
    border-style: solid;
}

/* DO NOT CONSOLIDATE THE CODE BELOW OR IT BREAKS THE TOGGLE SCRIPT */
#goalsBlock, #goalsTblock {
  display: block;
  color: white;
}

.containerHead {
  color: white;
}

#basicsBlock, #basicsTblock {
  display: none;
  color: white;
}

#scoringBlock, #scoringTblock {
  display: none;
  color: white;
}

#sportsHeader {
  text-align: center;
  color: white;
}
/* DO NOT CONSOLIDATE THE CODE ABOVE OR IT BREAKS THE TOGGLE SCRIPT */

.header{
  font-family: 'Bungee Shade', cursive;
  font-weight: 900;
  font-size: 80px;
  color: red;
  text-align: center;
}

.message-body {
  font-family: "Amiko", italics;
  font-weight: 600;
  color: white;
  font-size: 25px;
  background: transparent;
  text-align: center;
}
.message-body .navbar{
  background-color: transparent;
  color: white;
  font-weight: 600;

}
.navbar-item {
  background: white;
  height: 20px;
  position: relative;
  margin-top: 4rem;
  margin-bottom: 0;
  font-size: 16px;
}
.Image-Background .header .message-body{
  position: sticky;
  top: 0;
}